<div>
  <form method="POST" action="/crabs">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="direction" placeholder="Direction">
    <input type="text" name="claw_size" placeholder="Claw Size">
    <input type="text" name="disposition" placeholder="Disposition">
    <input type="submit" value="Create Crab!">
  </form>
</div>
