<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/crabs/new">Create a new crab</a></li>
      <li><a href="/beaches/new">Create a new beach</a></li>
      <% if logged_in? %>
        <li><a href="/crabs/<%= current_crab.id %>/edit">Edit your profile</a></li>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><a href="/login">Login to the site</a></li>
      <% end %>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
