<h1>Crabs of <%= @beach.location %></h1>
<% if @beach.empty? %>
  <h2>No crabs live here yet!</h2>
<% end %>
<ul>
  <% @beach.crabs.each do |crab| %>
    <li><a href="/crabs/<%= crab.id %>"><%= crab.name %></a></li>
  <% end %>
</ul>
